fastapi
uvicorn[standard]
python-multipart
python-dotenv

openai
google-generativeai
sarvamai

numpy
scipy
soundfile
requests
certifi
urllib3

pymongo
pydantic
streamlit

pdfplumber
PyPDF2
python-docx
pillow
pytesseract

beautifulsoup4
newspaper3k
trafilatura
readability-lxml
lxml

playwright